@use "../components/temperature-card";

.hero__section {
    display: flex;
    gap: 64px;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 25px;

        &__date__info {
            display: flex;
            gap: 20px;

            h3 {
                font-size: 25px;
                padding-bottom: 10px;
            }

            p {
                font-size: 15px;
            }
        }

        &__current__temp {
            font-size: 90px;
        }

        &__location {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                font-size: 26px;
            }
        }
    }

    &__right{
        max-width: 808px;
        width: 100%;
        min-height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        &__titles{
            width: 100%;
            min-height: 26px;
            display: flex;
            gap: 1rem;
            text-align: center;
            width: 100%;

            span{
                max-width: 80px;
                width: 100%;
                opacity: 0.85;
                font-size: 22px;
                letter-spacing: 0;
            }
        }

        &__cards{
            width: 100%;
            min-height: 120px;
            display: flex;
            gap: 1rem;
        }
    }
}