.weather__details {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .weather__detail__item__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;

        .weather__detail__item {
            display: flex;
            align-items: end;
            justify-content: center;
            gap: 20px;
            width: 288px;
            height: 146px;
            border-radius: 4px;
            padding: 37px 31px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            opacity: 0.85;

            img {
                width: 27%;
                height: 50%;
            }

            .item__details {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    letter-spacing: 0px;
                    color: #072A41;
                    text-transform: uppercase;
                    opacity: 0.6;
                }

                div {
                    font-size: 34px;
                    text-align: center;
                    font: normal normal medium 34px/136px Helvetica Neue;
                    letter-spacing: 0px;
                    color: #072A41;
                    opacity: 0.85;
                }
            }
        }
    }
}